{
  :deps {org.clojure/clojure {:mvn/version "1.11.1"}
         org.clojure/tools.cli {:mvn/version "1.0.214"}
         com.draines/postal {:mvn/version "2.0.5"}  ; 이메일 전송을 위한 라이브러리
         org.clojure/data.json {:mvn/version "2.4.0"}  ; JSON 파싱을 위한 라이브러리
  }

  :aliases
  {:test
   {:extra-paths ["test"]
    :extra-deps {io.github.cognitect-labs/test-runner
                 {:git/url "https://github.com/cognitect-labs/test-runner.git"
                  :sha "705ad25bbf0228b1c38d0244a36001c2987d7337"}}
    :main-opts ["-m" "cognitect.test-runner"]
    :exec-fn cognitect.test-runner.api/test}}}