;;; 名刺情報の公開についてのご案内
{:to ["조정래님 <ubermenschjo@gmail.com>" "조정래님 <jo.junglae@sta3e-n.com>"]
 :subject "名刺情報の公開についてのご案内"
 :body "{{ :to }} 様

お世話になっております。名刺共有サービス{{ :var_serviceName }}をご利用いただき、誠にありがとうございます。

この度は、システムにご登録いただいた名刺情報についてのご案内を差し上げます。

現在、お客様の名刺情報は「非公開」として登録されていますが、{{ :var_serviceName }}を通じて情報を「公開」することで、ビジネスの幅をさらに広げる機会を得ることができます。

{{ :var_serviceName }}では、以下の利点をご提供しています：

    より広範なビジネスネットワークの構築：公開することで他のユーザーが名刺情報にアクセスでき、迅速にビジネス関係を構築できます。
    効率的なコミュニケーション：名刺交換の手間が省け、スムーズな連絡が可能となります。
    ビジネスチャンスの拡大：様々な業界や企業と簡単に繋がり、より多くのビジネス機会を得ることができます。

情報公開の設定は簡単に行えます。以下の手順でご登録いただいた名刺を「公開」に変更することができます：

    [手順1]
        https://card.kanban.sta3e-n.com/ にアクセスします。
    [手順2]
        お客様のメールアドレスで検索して、名刺を選択します。
    [手順3]
        名刺の詳細画面で名刺編集をクリックして、「{{ :var_randomPassword }}」のランダムパスワードを入力します。
    [手順4]
        名刺の詳細画面で公開に変更します。(※ 公開にすると、名刺情報が他のユーザーに公開されますので他の情報も合わせて修正してください)

情報を公開することで、今後のビジネスにさらに大きな可能性を生み出すことができます。ぜひこの機会に公開設定をご検討ください。

ご不明点やサポートが必要な場合は、いつでもお気軽にお問い合わせください。

今後とも、{{ :var_serviceName }}をどうぞよろしくお願いいたします。"
 :var_serviceName "名刺共有システム Card Kanban"
 :var_randomPassword ""
 :mimetype "text/plain"
 :signature "jobs/signature.png"}
